$padding-elements: 20px;
$font-size: $padding-elements;
$default-radio-color: #aaa;

.custom_radio_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: $padding-elements / 2;
}

.custom_radio_label {
    width: 100%;
    font-size: $font-size;
}

.custom_radio_container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: $font-size;
    user-select: none;
    flex: 1;
    &:hover{
        input ~ .custom_radio_checkmark {
            background-color: darken($color: $default-radio-color, $amount: 10);
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            ~ .custom_radio_checkmark {
                background-color: yellowgreen;
            }
        }
    }
}

.custom_radio_checkmark {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $default-radio-color;
}

