$bg-color: #2b2b2b;
$width-elements: 80%;
$padding-elements: 20px;

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@mixin centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #112821;
    color: azure;
    nav {
        font-size: 40px;
        @include centered-flex;
        padding: 20px;
    }
    #content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        span {
            display: inline-block;
            width: $width-elements;
            padding: $padding-elements - 10 $padding-elements + 20;
            &:hover {
                color: yellowgreen;
                cursor: pointer;
            }
        }
        table {
            box-sizing: border-box;
            width: 80%;
            text-align: center;
            padding: $padding-elements;
            tr {
                &:nth-child(odd) {
                    background-color: lighten($color: $bg-color, $amount: 10%)
                }
                td {
                    padding: 2px
                }
            }
        }
    }
    footer {
        @include centered-flex;
        padding: 20px;
    }
}
